* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Playfair Display", sans-serif; */
  text-decoration: none;
  list-style: none;
  /* color: black; */
}

body {
  background-color: darkgoldenrod;
  padding: 0 3em;
}

/* table of contents  */

/* 1. Navbar  */

/* 2. Form  */

/* 3. Overview  */

/* 4. About  */

/*  ===============
    1. NAVBAR 
    =============== */

ul {
  height: 8vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

#my-logo {
  /* padding-bottom: 1em;
  font-weight: bold;
  font-size: 1.5em; */
  font-family: "Playfair Display";
  color: #000000;
}

#logo a,
#navbarlinks a {
  color: #265999;
}

#navbarlinks a:hover {
  font-size: large;
  color: #0c4183;
}

#logo {
  font-weight: bold;
  font-size: 3em;
  font-family: "Great Vibes";
  /* padding-left: 1em; */
}

#logo a {
  font-size: 1em;
}

#navbarlinks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  font-family: "Playfair Display";
  padding: 3em;
}

#navbarlinks a {
  padding: 3em;
}

/*  ===============
    2. FORM 
    =============== */

.form-container {
  padding: 3em;
  font-family: "Playfair Display";
}

.form-container h1 {
  padding-bottom: 1em;
}

#create-h1 {
  font-weight: bold;
  font-size: 1.5em;
  font-family: "Great Vibes";
  color: #265999;
}

.form-container input,
.form-container button {
  padding: 0.5em;
  margin: 1em;
  border-radius: 5px;
}

.form-container button {
  background-color: #1a5599;
  width: 10em;
  color: white;
  font-size: 1em;
  font-weight: bolder;
  cursor: pointer;
}

/*  ===============
    3. OVERVIEW 
    =============== */

.song-container {
  font-family: "Oswald";
  padding: 0 3em;
  width: 100%;
}

.song-table,
.song-table-list {
  padding: 0 1em;
  /* display: flex;
  justify-content: flex-start;
  align-items: flex-start; */
  width: 100%;
}

.song-header {
  padding: 0 3em 1em;
  border-bottom: 1px solid black;
  width: 20%;
}

.song-body {
  padding: 0 3em;
}

.song-data {
  width: 20%;
}

.song-table-list {
  font-family: "Playfair Display";
}

.remove-button {
  margin-top: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-button button {
  background-color: #a03232;
  width: 40%;
  color: white;
  font-size: 1em;
  font-weight: bolder;
  padding: 1em;
  border-radius: 25px;
  cursor: pointer;
}

/*  ===============
    4. ABOUT 
    =============== */

.about {
  font-family: "Playfair Display";
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2em;
  padding: 3em;
  font-weight: bold;
}

.about h2 {
  padding: 1em 0;
  font-family: "Oswald";
}
